/* Reset de Estilos */
* {
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    box-sizing: border-box; /* Faz com que o padding e a borda não aumentem o tamanho do elemento */
}

/* Importar fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Definir fonte padrão */
body {
    font-family: 'Open Sans', sans-serif; /* Define a fonte */
    animation: fade-in .5s ease, slide-in 1.2s ease; /* Adiciona animações */
}

/* estilos.css */

header {
    background-color: #e8e8e8; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 1rem 0; /* Adiciona um espaçamento interno */
}

img {
    max-width: 100%; /* Imagens não ultrapassam a largura do elemento pai */
}

.logo img {
    max-width: 200px; /* Imagem da logo não ultrapassa 200px de largura */
}

.banner {
    background-image: url("img/banner.jpeg"); /* Adiciona a imagem de fundo */
    background-size: cover; /* Redimensiona a imagem para cobrir todo o banner */
    background-position: center; /* Centraliza a imagem */
    text-align: center;
    padding: 100px 0; /* Ajuste o espaçamento interno conforme necessário */

    background-attachment: fixed; /* Define o background como fixo */
}

.container {
    max-width: 1200px; /* Largura máxima do container */
    margin: 0 auto; /* Centraliza o container */
    padding: 2rem; /* Adiciona um espaçamento interno */
}

/* Limpa o float */
.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: ""; 
    display: table; 
    clear: both;
}

.card {
    background-color: #fff; /* Cor de fundo */
    padding: 1rem; /* Adiciona um espaçamento interno */
    border-radius: 5px; /* Arredonda as bordas */
    box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Adiciona uma sombra */
}

/* Colunas */
/* Alinha as colunas ao lado esquerdo */
[class*="col-"] {
    float: left; 
    margin-right: 10px;
}

/* Calcula a largura da coluna */
.col-1 { width: calc(8.33% - 10px); }
.col-2 { width: calc(16.66% - 10px); }
.col-3 { width: calc(25% - 10px); }
.col-4 { width: calc(33.33% - 10px); }
.col-5 { width: calc(41.66% - 10px); }
.col-6 { width: calc(50% - 10px); }
.col-7 { width: calc(58.33% - 10px); }
.col-8 { width: calc(66.66% - 10px); }
.col-9 { width: calc(75% - 10px); }
.col-10 { width: calc(83.33% - 10px); }
.col-11 { width: calc(91.66% - 10px); } 
.col-12 { width: calc(100% - 10px); }

.col-image {
    height: 350px; /* Altura da imagem */
    object-fit: cover; /* Redimensiona a imagem para cobrir todo o elemento */
    display: block; /* Faz a imagem ocupar a largura total do elemento pai */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */

    animation: scaleDown 1.2s ease; /* Adiciona animações */
}

.col-image:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% ao passar o mouse */
}

.card h2 {
    font-size: 1.5rem; /* Define o tamanho da fonte */
    margin: 1rem 0; /* Adiciona um espaçamento externo */
}

.card button {
    display: block; /* Faz o botão ocupar a largura total do elemento pai */
    margin: 10px auto; /* Centraliza o botão */
    padding: 0.5rem 1rem; /* Adiciona um espaçamento interno */
    background-color: #F40027; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    cursor: pointer; /* Adiciona o cursor de mão */
    text-decoration: none; /* Remove o sublinhado */
    width: 64px; /* Largura */
    height: 64px; /* Altura */
    border-radius: 50%; /* Arredonda as bordas */
    font-size: 1.5rem; /* Tamanho da fonte */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.card button:hover {
    background-color: yellow; /* Cor de fundo */
    color: #F40027; /* Cor do texto */
    border: 2px solid #F40027; /* Adiciona uma borda */
    transform: scale(1.1); /* Aumenta o botão em 10% ao passar o mouse */
}

/* Formulário */
#newsletter {
    background-color: #e8e8e8; /* Cor de fundo */
    text-align: center; /* Alinha o texto ao centro */
    padding: 2rem 0; /* Adiciona um espaçamento interno */
}

#newsletter h2 {
    margin-bottom: 1rem;
}

#newsletter input[type="email"] {
    padding: 0.5rem;
    width: 70%;
    border: none;
    border-radius: 5px;
}

/* Botão */
#newsletter button {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #F40027;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #264653;
    color: #fff;
}

/* Links para redes sociais */
.social-icons {
    text-align: center;
    margin: 10px 0;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: white;
}

/* Animações */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

html {
    scroll-behavior: smooth;
}